{% load static %}

{% with logout='client_dashboard:logout' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'img/vesinfiltro.png' %}" type="image/x-icon">

    <title>{% block tab_title %} NoticiasSinFiltro {% endblock tab_title %}</title>

    {% block style %}   
      <link href="{% static 'css/vendor.css' %}" rel="stylesheet" />
      <link href="{% static 'css/jquery.json-viewer.css' %}" rel="stylesheet" />
    {% endblock style %}
  
    {% block custom_stylesheet %}
    {% endblock custom_stylesheet %}
  </head>

  <body>


    <nav class="pcoded-navbar menu-light ">
      <div class="navbar-wrapper">
        <div class="navbar-content scroll-div" >

          <ul class="nav pcoded-inner-navbar pt-4">

            <li class="nav-item pcoded-menu-caption">
                <label>Incidents</label>
            </li>
            
            <li class="nav-item pcoded-hasmenu">
                <a href="#" class="nav-link ">
                    <span class="pcoded-micon">
                        <i class="far fa-folder-open"></i>
                    </span>
                    <span class="pcoded-mtext">
                        Audio Files
                    </span>
                </a>
                <ul class="pcoded-submenu">
                    <li><a href="#">List Audios</a></li>
                    {% if user.is_editor %}
                    <li><a href="#">New Audio</a></li>
                    {% endif %}
                </ul>
            </li>
            
            {% if user.is_admin %}
            <li class="nav-item pcoded-menu-caption">
                <label>Settings</label>
            </li>
            <li class="nav-item pcoded-hasmenu">
                <a href="#" class="nav-link ">
                    <span class="pcoded-micon">
                        <i class="feather icon-briefcase"></i>
                    </span>
                    <span class="pcoded-mtext">
                        Control Panel
                    </span>
                </a>
                <ul class="pcoded-submenu">
                    <li><a href="#">Controls</a></li>
                </ul>
            </li>
            <li class="nav-item pcoded-hasmenu">
                <a href="#" class="nav-link ">
                    <span class="pcoded-micon">
                        <i class="feather icon-user"></i>
                    </span>
                    <span class="pcoded-mtext">
                        Users
                    </span>
                </a>
                <ul class="pcoded-submenu">
                    <li><a href="#">List Users</a></li>
                    <li><a href="#">New User</a></li>
                </ul>
            </li>
            {% endif %}
          </ul>
          
        </div>
      </div>
    </nav>

    <header class="navbar pcoded-header navbar-expand-lg navbar-light header-blue">	
      <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
        <a href="#!" class="b-brand">
        </a>
        <a href="#" class="b-brand">
            <img width="160px" src="{% static 'img/logo.png' %}" alt="" class="logo">
        </a>
        <a href="#!" class="mob-toggler">
          <i class="feather icon-more-vertical"></i>
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto mr-5">

          <li class="mr-5">
            <div class="dropdown drp-user">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="feather icon-user"></i> {{user.username}}
              </a>
              <div class="dropdown-menu dropdown-menu-right profile-notification">
                <ul class="pro-body">
                  <li>
                    <a href="#" class="dropdown-item">
                      <i class="feather icon-user"></i> Profile
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'admin:index' %}" class="dropdown-item">
                      <i class="feather icon-clipboard"></i> Admin Site
                    </a>
                  </li>
                  <li>
                    <a href="/dashboard/logout/" class="dropdown-item">
                      <i class="feather icon-log-out"></i> Logout
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class=''>
              <div class="dropdown mr-5">
                  <select id="tz_selector" class="w-100 custom-select" name="tz_selector">
                      {% if request.session.system_tz == "1" %}
                          <option value="1" selected>UTC (0)</option>
                          <option value="2">Caracas (utc -4)</option>
                      {% else %}
                          <option value="1" >UTC (0)</option>
                          <option value="2" selected>Caracas (utc -4)</option>
                      {% endif %}
                  </select>
              </div>
          </li>

          
          
        </ul>
      </div>
    </header>


    <div class='float-right mr-5 pr-5'>
      {% block site_route %}
      <ul class="breadcrumb bg-dark mr-4">
        {% block route %}
        <li class="breadcrumb-item">
            <a href="#" class="">
                <i class="feather icon-home"></i>
            </a>
        </li>
        <li class="breadcrumb-item active"><strong>Static Navigation</strong></li>
        {% endblock route %}
      </ul>
      {% endblock site_route %}
    </div>


    <div class="pcoded-main-container">
      <div class="pcoded-content">
          <div class="page-header">
              <div class="page-block">
                  <div class="row align-items-center">
                      <div class="col-md-12">
                          <div class="page-header-title">
                            <h5 class="m-b-10">{% block title %}Title{% endblock title %}</h5>
                            <small class="text-white sub_title">
                                {% block sub_title %}{% endblock sub_title %}
                            </small>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
            {% block content %} {% endblock content %}
          </div>

      </div>
  </div>


    {% block scripts %}
        <script src="{% static 'js/vendor-all.min.js' %}"></script>
        <script src="{% static 'js/plugins/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/plugins/sweetalert.js' %}"></script>
        <script src="{% static 'js/jquery.json-viewer.js' %}"></script>

    {% endblock scripts %}
    {% block custom_scripts %}
        
    {% endblock custom_scripts %}
  </body>
</html>
{% endwith %}
