{% extends 'bases/base.html' %}
{% load static %}
{% block custom_stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/DataTables/datatables.min.css' %}" />
{% endblock custom_stylesheet %}

{% block tab_title %} NoticiasSinFiltro - Users {% endblock tab_title %}
{% block title %} Users {% endblock title %}
{% block sub_title %} List of all available users {% endblock sub_title %}

{% block route %}
<li class="breadcrumb-item">
    <a href="{% url 'dashboard:index' %}"><i class="feather icon-home"></i></a>
</li>
<li class="breadcrumb-item active">
    <a href="{% url 'dashboard:users_data' %}"><strong>Users</strong></a>
</li>
{% endblock route %}

{% block content %}

<form id="urlForm">
    <nav class="navbar navbar-light bg-light mb-5">
        <div class="container-fluid">

            <div class="row">


                <div class="col-6">
                    <input id="name"
                        class="form-control mr-2 additional-filter border-top-0 border-left-0 border-right-0 bg-transparent text-primary"
                        type="search" placeholder="Name" aria-label="Search name" value="{{ prefill.full_name }}"
                        name="name" />
                </div>

                <div class="col-6">
                    <input id="title"
                        class="form-control mr-2 additional-filter border-top-0 border-left-0 border-right-0 bg-transparent text-primary"
                        type="search" placeholder="Email" aria-label="Search email" value="{{ prefill.email }}"
                        name="email" />
                </div>

                <div class="col-6">
                    <input id="title"
                        class="form-control mr-2 additional-filter border-top-0 border-left-0 border-right-0 bg-transparent text-primary"
                        type="search" placeholder="Author" aria-label="Search author" value="{{ prefill.full_name }}"
                        name="email" />
                </div>



                <div class="col-12">
                    <div class="row align-items-center ml-1">
                        <div class="col-4 mx-auto">
                        </div>
                        <div class="col-8 mx-auto">
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <div class="row align-items-center ml-1">
                        <div class="col-5 mx-auto">
                        </div>
                        <div class="col-7 mx-auto">
                        </div>
                    </div>
                </div>

                <div class="col-6 mt-3">
                    <div class="row align-items-center ml-1">
                        <div class="col-4 mx-auto">
                        </div>
                        <div class="col-8 mx-auto">
                        </div>
                    </div>
                </div>


                <div class="col-3 my-auto mx-auto">
                    <button id="url-form-button" class="btn btn-blue btn-block mt-2" type="submit">
                        <i class="fa fa-search"></i>
                        <bold>Search</bold>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</form>

<div class="col-12">
    <button type="button" class="btn btn-dark rounded ml-1 mb-4" id="deleteFileBtn">
        <i class="fas fa-info mr-1"></i> Delete Users
    </button>
    <button type="button" class="btn btn-dark rounded ml-1 mb-4" id="createFileBtn">
        <i class="fas fa-info mr-1"></i> Create User
    </button>
</div>


<div class="card rounded p-5 mt-4" style="width: 100%;">
    <table class="table table-striped mt-5 datatable" id="audios-table">
        <thead>
            <tr>
                <th class="text-center" scope="col"> </th>
                <th class="text-center" scope="col">Name</th>
                <th class="text-center" scope="col">Email</th>
                <th class="text-center" scope="col">Assigned Author</th>
                <th class="text-center" scope="col">Admin</th>

                {% if user.is_admin %}
                <th class="text-center" scope="col">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

{% endblock content %}

{% block custom_scripts %}

<script type="text/javascript">

    $("#createFileBtn").modalForm({
        formURL: '{% url "dashboard:users_create" %}'
    });


    function CrudAudioModalForm(val) {
        $(val).modalForm({ formURL: val.name });

    }

</script>

<script>
    'use strict';
    var eventsTable;
    var table;

    /* Filter Form */
    $("#urlForm").on("submit", function (event) {
        event.preventDefault();
        let data = {
            title: $("#title").val(),
        };
        let urlSearch = "#";
        let url = urlSearch + "?" + $.param(data);
        window.location.href = url;

    });

    /* massive deleting btn */
    $('#deleteFileBtn').click(function (event) {
        var casesSelected = table.rows({ selected: true }).data().toArray();
        var casesSelected = table.rows({ selected: true }).data().toArray().map((selected) => (
            selected.id
        ));
        $.ajax({
            timeout: 300000,
            type: "GET",
            url: '#',
            data: { cases: casesSelected },
            success: function (data) {

                if (casesSelected.length > 0) {
                    Swal.fire({
                        icon: "success",
                        title: "Successful Delete!",
                        confirmButtonColor: "#28a745",
                        confirmButtonText: "Continue"
                    }).then(result => {
                        if (result.isConfirmed) {
                            location.reload();
                        }
                    });
                } else {
                    console.log(data)
                    Swal.fire({
                        icon: "error",
                        title: "Bad request.",
                        text: `Select at least one event.`,
                        confirmButtonColor: "#dc3545",
                        confirmButtonText: "Continue"
                    });
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("associateModal").modal("hide");
                Swal.fire({
                    icon: "error",
                    title: "There was an error!",
                    text: `${textStatus}, ${errorThrown}`,
                    confirmButtonColor: "#dc3545",
                    confirmButtonText: "Continue"
                });
            }
        });
    });


    /* Files Datatable init */
    $(document).ready(function () {

        table = $("#audios-table").DataTable({
            order: [[1, "desc"]],
            searching: false,
            processing: true,
            fixedColumns: true,
            language: {
            },
            serverSide: true,
            rowId: "id",
            ajax: {
                url: '{% url "dashboard:list_users" %}',
                data: function (data) {
                    data.date = $("#full_name").val();
                    data.title = $("#email").val();
                    data.votes = $("#news_media").val();
                    data.listens = $('#is_admin').val();
                },
                contentType: "application/json; charset=utf-8",
                type: "GET",
            },
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }],
            columns: [
                {
                    data: 'id',
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return `<div class="p-2"></div>`
                    }
                },
                {
                    data: "full_name",
                    orderable: true,
                    searchable: true,
                },
                {
                    data: "email",
                    orderable: true,
                    searchable: true,
                },
                {
                    data: "news_media",
                    orderable: true,
                    searchable: true,
                },
                {
                    data: "is_admin",
                    orderable: false,
                    searchable: true,
                    render: function (data, type, row, meta) {
                        if (data) {
                            return `<div class="text-success w-100 text-center">
                        <i class="far fa-check-circle text-success" title="True"></i>
                    </div>`
                        } else {
                            return `<div class="text-danger w-100 text-center">
                        <i class="far fa-check-circle text-default" title="False"></i>
                    </div>`
                        }
                    },
                },

                {
                    data: "actions",
                    orderable: false,
                    searchable: false,
                    render: function (data, type, row, meta) {
                        var url0 = "{% url 'dashboard:user_read' pk=1 %}".replace(1, row.id);
                        var url1 = "#".replace(1, row.id);
                        var url2 = "{% url 'dashboard:user_delete' pk=1 %}".replace(1, row.id);
                        var rowId = row.id;


                        return `<button type="button" class="read-audio btn btn-sm btn-primary" name=${url0} onclick="CrudAudioModalForm(this)">
                            <span class="fa fa-eye"></span>
                            </button>                           
               
                       
                            <button type="button" class="update-audio btn btn-sm btn-primary" name=${url1} onclick="CrudAudioModalForm(this)">
                            <span class="fa fa-edit"></span>
                            </button>
                        
                       
                            <button type="button" class="delete-audio btn btn-sm btn-danger" name=${url2} onclick="CrudAudioModalForm(this)">
                            <span class="fa fa-trash"></span>
                            </button>`
                    },
                },
            ],
            initComplete: function () { },
            buttons: [],
            select: {
                style: 'multi'
            },
        });

    });





</script>



{% endblock custom_scripts %}